<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Dave</title>
        <link rel = "icon" href = "/static/images/favicon.ico">
    </head>

    <body>
        <p>Body</p>
        <div class = "navbar">
            <a href = "{{ url_for('home') }}">home</a>
            <a href = "{{ url_for('about') }}">about</a>
            <a href = "{{ url_for('signin') }}">sign-in</a>
        </div>
        {% block content %}{% endblock %}
    </body>

    <footer>
        <p>Footer</p>
    </footer>
</html>